<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <main>
      <article class="main__section__article">
        <img src="/img/119047560_123870872509637_2988998959033757686_n.jpg" alt="">
        <div>
            <h2>$1000</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="main__section__article__div--buttons">
            <button><i class="fa-solid fa-truck-fast"></i><a href="">enviarme</a></button>
            <button><i class="fa-solid fa-eye"></i><a href="/products/detail">ver más</a></button>
        </div>
    </article>
    </main>
</body>