<div class="div--carrousel">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/img/tipspeta.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/ptro.jpeg" alt=""></div>
          <div class="swiper-slide"><img src="/img/fotocarousel.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/lomosaltado.jpg" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
</div>