<header class="header">
    <nav class="header__nav">
        <div class="header__nav__div--logo rotate-vert-center">
            <a href="/"><img src="/img/logopetita.jpg" alt="logo petita"></a>
        </div>
        <div class="header__nav__div--input">
            <input placeholder="¿Que buscas?" type="text">
            <button><i class="fa-solid fa-magnifying-glass"></i><a href=""></a></button>
        </div>
        <div class="header__nav__div--prorecope">
            <i class="fa-solid fa-store"></i><a href="">Productos</a>
        </div>
        <div class="header__nav__div--prorecope">
            <i class="fa-solid fa-pen-to-square"></i><a href="">recetas</a>
        </div>
        <div class="header__nav__div--prorecope">
            <i class="fa-solid fa-face-smile"></i><a href="/admin">admin</a>
        </div>
        <div class="header__nav__div--prorecope">
            <i class="fa-solid fa-truck-fast"></i><a href="">pedidos</a>
        </div>
        <!-- div class="header__nav__div--prorecope">
            <i class="fa-solid fa-truck-fast"></i><a href="">admin</a>
        </div> -->
    </nav>
</header>